
<div class="text-center">
<h1>不満の書き方</h1>
<p>基本的には、医療や福祉分野の不満であれば何でも投稿はできますが、以下のものは禁止です</p>


<h2>1.メディアで扱われた人物（芸能人など）以外の個人名</h2>
<h2>2.アダルトな内容または表現</h2>
<h2>3.犯罪を助長もしくは、予告する表現</h2>
<p>以上を守って気持ちよく不満を投稿しましょう！</p>
</div>