
<div class="text-left">
<h1>不満の書き方</h1>
<p>基本的には、医療や福祉分野の不満であれば何でも投稿はできますが、以下のものは禁止です</p>


<h4>1.メディアで扱われた人物（芸能人など）以外の個人名</h4>
<h4>2.アダルトな内容または表現</h4>
<h4>3.犯罪を助長もしくは、予告する表現</h4>
<p>以上を守って気持ちよく不満を投稿しましょう！</p>

<h1>不満投稿の注意点</h1>
<h4>1、不満の投稿は一日に10件（0時にリセット）までとし、連続して投稿する場合は10秒以上経過してから次の投稿をして下さい（機械投稿を防ぐ為）。</h4>

<h1>投稿からcash申請（現金化）まで流れ</h1>
<h4>1,左上のhumannpostをクリックするか、右上のメニューから「投稿する」をクリックする</h4>
<h4>2,カテゴリーをクリックして選び、題名を入力し、不満を書きます、そして投稿をクリック</h4>
<h4>3,投稿しましたら、投稿申請となり、投稿内容を審査し問題がなければ48時間以内に投稿済みとなります（公開）</h4>
<h4>4,投稿済みの不満が200個以上たまりましたら、cash申請（現金に変える）ができます。口座設定の下にcash申請ボタンが表示されます。その場合の注意点ですが、口座の設定を書いていない場合はcash申請のボタンは表示されません</h4>
<h4>5,cash申請しましたら、翌月の末までに指定の口座へ振り込み致します</h4>
<h4>6,cash申請ボタンを押しましたら現在のcash残高すべてが申請されます、その為、申請ボタンを押しましたら現在のcash残高はリセットになります</h4>
<h4>7,投稿申請→投稿許可済み→cash申請→cash支払い済みというながれでございます</h4>
</div>

