<% if logged_in? %>
  <p>ログイン完了ユーザ: <%= current_user.name %></p>
<% else %>


<div class="center jumbotron">
  <div class="text-center">
    <h1>今すぐその不満を投稿しよう！</h1>
    <h1>Welcome to the Humanposts</h1>
    <p>医療や福祉の不満募集中！どんどん書き込んじゃって下さい！</p>
    <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>
  </div>
</div>
<% end %>
